 {% load static %}
<li>
  <article class="post">
    <a href="{% url 'post-detail' 'the-mountain' %}">
      <img id= "mountain" src="{% static "blog/images/mountion1.jpg" %}" alt="Mountain Hiking" />
        <div class="post__content">
          <h3>Mountain Hiking</h3>
          <p>
              It looked as it would seem in a storybook. The sights, the sounds, the smells and the tastes were out of the world. The sky, punched with clouds stretching like a dome. I could smell the caramel in the air and the music of the meadow echoed in my ears!
          </p>
        </div>
    </a>
   </artical>
</li>
