 {% extends 'base.html' %}
 {% load  static %}

  {% block title   %}
  This Post title
  {% endblock  %}

  {% block css_files %} 
      <link rel="stylesheet" href="{% static 'blog/post-detail.css' %}" />
  {% endblock%}
  {% block content  %}
  <section id="summary">
      <h2>Post Title</h2>
      <artical class="post-details-header">
        <img class="post-img" src="{% static "blog/images/mountains.jpeg" %}" alt="Post Title"/>
        <address>By Ali Alhakeem</address>
        <div>
            Last updated on <time> Feb 14th</time>
        </div>
      </artical>
  </section>
  <main>
       <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
       </p>
       <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
       </p>
       <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
       </p>
  </main>


   {% endblock%}